@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-midnight: var(--midnight);
  --color-twilight: var(--twilight);
  --color-dusk: var(--dusk);
  --color-cloud: var(--cloud);
  --color-fog: var(--fog);
  --color-radiance: var(--radiance);
  --color-warmth: var(--warmth);
  --color-shine: var(--shine);
  --color-gleam: var(--gleam);
  --color-bright: var(--bright);
}

/*
  https://zippystarter.com/tools/shadcn-ui-theme-generator  to adjust colors
  Colors from https://twitter.com/pjscow/status/1732809863288213630

  Hex values for the colors

  #0F0A0A Midnight
  #0F2021 Twilight
  #0F3538 Dusk
  #496767 Cloud
  #87A19E Fog
  #FF6600 Radiance
  #FF9200 Warmth
  #FFBE00 Shine
  #F8E08E Gleam
  #FAFAF0 Bright
 */

:root {
  --midnight: oklch(0.15 0.0088 18.17);
  --twilight: oklch(0.23 0.0228 200.52);
  --dusk: oklch(0.3 0.0424 202.51);
  --cloud: oklch(0.49 0.035 196.07);
  --fog: oklch(0.69 0.0293 187.97);
  --radiance: oklch(0.7 0.204259 43.491);
  --warmth: oklch(0.76 0.176393 61.117);
  --shine: oklch(0.84 0.1722 83.57);
  --gleam: oklch(0.91 0.1051 93.66);
  --bright: oklch(0.98 0.0132 106.64);

  /* Component theming for light mode */
  --background: oklch(0.975 0.021 85.207); /* bright */
  --foreground: oklch(0.145 0.008 85.207);

  --card: oklch(0.965 0.021 85.207);
  --card-foreground: oklch(0.205 0.008 85.207);

  --popover: oklch(0.985 0.021 85.207);
  --popover-foreground: oklch(0.145 0.008 85.207);

  --muted: oklch(0.922 0.015 85.207);
  --muted-foreground: oklch(0.556 0.008 85.207);

  --accent: oklch(0.922 0.015 85.207);
  --accent-foreground: oklch(0.145 0.008 85.207);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);

  --border: oklch(0.892 0.018 189.624);
  --input: oklch(0.828 0.024 190.431);
  --ring: oklch(0.708 0.054 191.238);

  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.145 0.001 27.506); /* midnight */
  --foreground: oklch(0.922 0.015 189.624);

  --card: oklch(0.185 0.01 189.624);
  --card-foreground: oklch(0.922 0.015 189.624);

  --popover: oklch(0.185 0.01 189.624);
  --popover-foreground: oklch(0.922 0.015 189.624);

  --muted: oklch(0.205 0.02 190.431);
  --muted-foreground: oklch(0.708 0.009 190.431);

  --accent: oklch(0.205 0.021 190.431);
  --accent-foreground: oklch(0.922 0.015 189.624);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);

  --border: oklch(0.205 0.011 189.624 / 0.1);
  --input: oklch(0.269 0.011 190.431 / 0.15);
  --ring: oklch(0.556 0.054 190.431);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Target the light mode div that follows the title */
.rehype-code-title
  + div[data-bright-theme="solarized-dark"]
  + div[data-bright-theme="solarized-light"] {
  margin: 0 !important;
  margin-bottom: 1em !important;
}

.rehype-code-title
  + div[data-bright-theme="solarized-dark"]
  + div[data-bright-theme="solarized-light"] {
  border-radius: 0 !important;
}
.rehype-code-title
  + div[data-bright-theme="solarized-dark"]
  + div[data-bright-theme="solarized-light"]
  pre {
  border-radius: 0 !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  padding: 0 0 1em 0 !important;
}

/* Target the dark mode div that follows the title */
.dark .rehype-code-title + div[data-bright-theme="solarized-dark"] {
  margin: 0 !important;
  margin-bottom: 1em !important;
}

.dark .rehype-code-title + div[data-bright-theme="solarized-dark"] {
  border-radius: 0 !important;
}
.dark .rehype-code-title + div[data-bright-theme="solarized-dark"] pre {
  border-radius: 0 !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  padding: 0 0 1em 0 !important;
}
