@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Hex values for the colors
  #0F0A0A Midnight
  #0F2021 Twilight
  #0F3538 Dusk
  #496767 Cloud
  #87A19E Fog
  #FF6600 Radiance
  #FF9200 Warmth
  #FFBE00 Shine
  #F8E08E Gleam
  #FAFAF0 Bright
 */

/*
  Bright
    "--color-surface-50": "254 254 253", // #fefefd
    "--color-surface-100": "254 254 252", // #fefefc
    "--color-surface-200": "254 254 251", // #fefefb
    "--color-surface-300": "253 253 249", // #fdfdf9
    "--color-surface-400": "252 252 245", // #fcfcf5
    "--color-surface-500": "250 250 240", // #FAFAF0
    "--color-surface-600": "225 225 216", // #e1e1d8
    "--color-surface-700": "188 188 180", // #bcbcb4
    "--color-surface-800": "150 150 144", // #969690
    "--color-surface-900": "123 123 118", // #7b7b76

  Dusk
    "--color-primary-50": "219 225 225", // #dbe1e1
    "--color-primary-100": "207 215 215", // #cfd7d7
    "--color-primary-200": "195 205 205", // #c3cdcd
    "--color-primary-300": "159 174 175", // #9faeaf
    "--color-primary-400": "87 114 116", // #577274
    "--color-primary-500": "15 53 56", // #0F3538
    "--color-primary-600": "14 48 50", // #0e3032
    "--color-primary-700": "11 40 42", // #0b282a
    "--color-primary-800": "9 32 34", // #092022
    "--color-primary-900": "7 26 27", // #071a1b

  Fog
    "--color-secondary-50": "237 241 240", // #edf1f0
    "--color-secondary-100": "231 236 236", // #e7ecec
    "--color-secondary-200": "225 232 231", // #e1e8e7
    "--color-secondary-300": "207 217 216", // #cfd9d8
    "--color-secondary-400": "171 189 187", // #abbdbb
    "--color-secondary-500": "135 161 158", // #87A19E
    "--color-secondary-600": "122 145 142", // #7a918e
    "--color-secondary-700": "101 121 119", // #657977
    "--color-secondary-800": "81 97 95", // #51615f
    "--color-secondary-900": "66 79 77", // #424f4d
 */
@layer base {
  :root {
    /* Colors from https://twitter.com/i/bookmarks?post_id=1732809863288213630 */
    --midnight: 0 20% 4.9%;
    --midnight-foreground: 0 0% 100%;

    --twilight: 183 37.5% 9.4%;
    --twilight-foreground: 0 0% 100%;

    /* primary */
    --dusk: 184 57.7% 13.9%;
    --dusk-foreground: 0 0% 100%;

    --cloud: 180 17% 34.5%;
    --cloud-foreground: 0 0% 100%;

    /* secondary */
    --fog: 173 12.1% 58%;
    --fog-foreground: 0 0% 100%;

    --radiance: 24 100% 50%;
    --radiance-foreground: 0 0% 100%;

    --warmth: 34 100% 50%;
    --warmth-foreground: 0 0% 100%;

    --shine: 45 100% 50%;
    --shine-foreground: 0 0% 100%;

    --gleam: 46 88.3% 76.5%;
    --gleam-foreground: 0 0% 0%;

    --bright: 60 50% 96.1%;
    --bright-foreground: 0 0% 0%;

    /* Other colors */

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    /* Component theming */

    /* background is 'bright' */
    --background: 60, 50%, 96%;
    --foreground: 60 12% 5%;

    --card: 60 50% 98%;
    --card-foreground: 60 12% 5%;

    --popover: 60 54% 97%;
    --popover-foreground: 60 12% 5%;

    --muted: 60 17% 93%;
    --muted-foreground: 60 13% 40%;

    --accent: 60 17% 93%;
    --accent-foreground: 60 12% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 187 17% 90%;
    --input: 184 22% 85%;
    --ring: 185 51% 70%;

    --radius: 0.5rem;
  }

  .dark {
    /* background is midnight */
    --background: 0 20% 5%;
    --foreground: 180 14% 90%;

    --card: 180 9% 9%;
    --card-foreground: 180 14% 90%;

    --popover: 180 9% 9%;
    --popover-foreground: 180 14% 90%;

    --muted: 185 18% 14%;
    --muted-foreground: 184 8% 60%;

    --accent: 184 19% 14%;
    --accent-foreground: 180 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 187 10% 17%;
    --input: 185 10% 25%;
    --ring: 184 50% 45%;

    --warning: 48 96% 89%;
    --warning-foreground: 38 92% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
